*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:"Roboto",sans-serif;
}

header{
    background-image:url('image/bg-image.jpg');
    background-size: cover;
    display:flex;
    flex-direction:column;
}
#CAH{
    font-size:30px; 
    font-weight:bolder;
    font-family:'bebus neue';
    color:white;

}
.navigationbar{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    background-color:rgba(0,0,0,0.6) ;
    font-size: medium;
    padding:20px;

}
nav a{
   color:white;
   padding: 10px;
   font-size:20px;
   font-weight: 700; 
   text-decoration: none;

}
.container{
    padding-left: 100px;
    color: white;
    display: flex;
    flex-direction: column;
     background:linear-gradient( to right,rgba(0,0,0,0.81)20%,transparent); 
}
header hr{
    width:30%;
    margin-bottom:30px;
}
.intro{
    font-size: 40px;
    text-transform:uppercase;
    font-family:'bebas neue';
}
.bio{
    font-size: 20px;
    margin-top:20px;
    margin-bottom: 60px;
    
}
.icons{
    display: flex;
    gap:15px;
    padding-bottom: 20px;
     

}
.icons i{ 
     padding:10px;
     font-size: 30px;
     margin-top: 20px;
     margin-bottom:40px ;
}
.icons i:nth-child(1){
    background-color: blue;

}
.icons i:nth-child(2){
    background-color:skyblue;

}
.icons i:nth-child(3){
    background-color: red;
}
.container2{
display:grid;
grid-template-columns: auto auto auto auto auto  ;
padding:50px;
padding-top: 100px;
padding-bottom: 100px;

}
.box{
    padding:50px;
    margin-bottom:100px;
    align-items:center;
    text-align:center;
}
.box img{
    height: 80px;
    width: 80px;
}
.box div{
    font-weight:700;
}
.box p{
    color: gray;
    font-size:medium;

}
.divider{
    border-right:1px solid rgba(196, 196, 196, 0.363);
    height:260px;

}
 .blue-section{ 
    background-color: #140748;
    color:white;
    position: relative;
    margin-top:50px ;

}
.bluebox{  
 padding: 150px 130px 130px;
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: 100%;
}
.photos{
    display:flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    position:absolute;
    top:-40%;
    width: 100%
 
}
.sliders{
    display: flex;
    column-gap: 20px;
}
.sliders img{
    width:200px;
}
 .main-text { 
    font-size: 36px;
    font-family: "Bebas Neue", sans-serif;
}
.sub-text {
    font-size: 18px;
    font-weight: 300;
    width: 580px;
}
.section-image {
    width: 100px;
}